

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b1b1b;

}

.livechat{
  border: 5px solid black;
  background-color: white;
  display: flex;
}
.chat-container {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #00000063;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

  .chat-messages {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(https://i.pinimg.com/564x/b6/3a/2b/b63a2b9084e13bf5723f159350708c43.jpg);
    background-size:contain ;

    overflow-y: scroll;

  }

  .message {

  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
    backdrop-filter: blur(4px);
  }

  .mensaje-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .mensaje-usuario {
    font-weight: bold;
    font-size: 14px;
  }
  
  .mensaje-hora {
    color: #888;
    font-size: 0.8em;
  }

  .message-input-form {
    display: flex;
    align-items: center;

    .message-input {
      flex: 1;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 10px;
      margin-right: 10px;
      font-size: 16px;
    }

    .send-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

  
  .emisor{

  align-self: self-end;
  background-color: #f8c6c6a6; 
  }

  .receptor{
    background-color: #eaeaeac7;
  }